services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  PhpList\Core\Domain\Subscription\Service\Manager\SubscriberManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Identity\Service\SessionManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Subscription\Service\Manager\SubscriberListManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Subscription\Service\Manager\SubscriptionManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Manager\MessageManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Manager\TemplateManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Manager\TemplateImageManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Messaging\Service\Manager\BounceRegexManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Identity\Service\AdministratorManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Subscription\Service\SubscriberCsvExporter:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Analytics\Service\Manager\LinkTrackManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Analytics\Service\Manager\UserMessageViewManager:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Analytics\Service\AnalyticsService:
    autowire: true
    autoconfigure: true

  PhpList\Core\Domain\Identity\Service\PasswordManager:
    autowire: true
    autoconfigure: true
