services:
  PhpList\RestBundle\Common\Validator\RequestValidator:
    arguments:
      $serializer: '@Symfony\Component\Serializer\Normalizer\ObjectNormalizer'
      $validator: '@validator'

  PhpList\RestBundle\Identity\Validator\Constraint\UniqueEmailValidator:
    autowire: true
    autoconfigure: true
    tags: [ 'validator.constraint_validator' ]

  PhpList\RestBundle\Subscription\Validator\Constraint\UniqueEmailValidator:
    autowire: true
    autoconfigure: true
    tags: [ 'validator.constraint_validator' ]

  PhpList\RestBundle\Subscription\Validator\Constraint\EmailExistsValidator:
    autowire: true
    autoconfigure: true
    tags: [ 'validator.constraint_validator' ]

  PhpList\RestBundle\Messaging\Validator\Constraint\TemplateExistsValidator:
    autowire: true
    autoconfigure: true
    tags: [ 'validator.constraint_validator' ]

  PhpList\RestBundle\Messaging\Validator\Constraint\ContainsPlaceholderValidator:
    tags: ['validator.constraint_validator']

  PhpList\RestBundle\Identity\Validator\Constraint\UniqueLoginNameValidator:
    autowire: true
    autoconfigure: true
    tags: [ 'validator.constraint_validator' ]

  PhpList\RestBundle\Subscription\Validator\Constraint\ListExistsValidator:
    autowire: true
    autoconfigure: true
    tags: [ 'validator.constraint_validator' ]

  PhpList\Core\Domain\Identity\Validator\AttributeTypeValidator:
    autowire: true
    autoconfigure: true

