*~
*.bak
/.idea/
/.project
/.webprj
/bin/
/composer.lock
/config/bundles.yml
/config/config_modules.yml
/config/parameters.yml
/config/routing_modules.yml
/docs/openapi.json
/nbproject
/public/
/var/
/vendor/
