imports:
    - { resource: 'services/*.yml' }
services:
    Psr\Container\ContainerInterface:
        alias: 'service_container'

    PhpList\RestBundle\Controller\:
        resource: '../src/Controller'
        public: true
        autowire: true
        tags: ['controller.service_arguments']

    #    Symfony\Component\Serializer\SerializerInterface:
    #      autowire: true
    #      autoconfigure: true

    my.secure_handler:
        class: PhpList\RestBundle\ViewHandler\SecuredViewHandler

    my.secure_view_handler:
        parent: fos_rest.view_handler.default
        calls:
            - ['registerHandler', [ 'json', ['@my.secure_handler', 'createResponse'] ] ]

    PhpList\Core\Security\Authentication:
        autowire: true
        autoconfigure: true

    PhpList\Core\Domain\Repository\Messaging\SubscriberListRepository:
        autowire: true
        autoconfigure: true

    PhpList\RestBundle\Validator\RequestValidator:
        autowire: true
        autoconfigure: true
